.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding:3%;
    background-color: #0E3452;
}

.tag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.titles{
    width: 80%;
    padding-left: 2%;
    color: white;
    margin-left: 2%;
}

.my-data{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    color: white;
}

.bit-logo{
    padding: 2%;
}
